*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px){

.logo {
    padding:2px;
    text-align: left;
}
.nav{
    background-color:white;
    color:black;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li {
    display: inline-block;
    padding-right: 50px;
    font: 50px;
}
.nav  li a {
    text-decoration: none;
    color:rgb(12, 8, 8);
}
.banner{
    width:100%;
    display:block;
}
.banner  .banner-image{
    width:100%;
    display:block;
    filter: blur(1px);
}
.bigpara {
    background: rgb(126, 126, 133);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 50px ;
}
.smallpara {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
.container{
    position:relative;
    width: 1200px;
    height: 300px;
    margin: 50px auto;
    display:flex;
}
.service {
    border: 30px solid grey;
    margin: 15px;
    padding: 0 5px;
    background-color: grey;
    color: white;
    flex-direction: row;
    position: relative;
    border-radius:10px;
    box-sizing: border-box;
    text-align: center;
}
.smallbox{
    border: 50px solid white;
    margin: 15px;
}
.smallbox2{
    border: 50px solid white;
    margin: 15px;
}
.smallbox3{
    border: 50px solid white ;
    margin: 15px;
}
footer{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: grey;
   color: white;
   text-align: right;
}
}